__pycache__/
.pytest_cache
*.pyc
*.pyo
*.pyd
.github/
*.ipynb_checkpoints/
.env
.env.*
.DS_Store
*.log
results/
logs/
.venv/
models/nlp/prediction/checkpoint-*/
notebooks/clinicalbert_model/checkpoint-*/
*.pt
*.safetensors